* {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0%;
    padding: 0%;
}
.name {
    background-color: rgb(0, 0, 0);
    padding: 50px;
    color: #919191;
}
h1 {
    color: red;

}










