* {

    background-color: black;
    font-family: cursive;
    margin: 0%;
    padding: 0%;

}
.name {
    
    background-color: rgb(0, 0, 0);
    padding: 100px;
    padding-top: 100%;
    color: hsl(255, 5%, 15%);
    
}
h1 {
    color: red;
    font-family: cursive;
}
.about {
    padding: 100px;
    padding-top: 0px;
}
h5 { color: red;}
.p {
    color: red;
    font-family: cursive;

}







