* {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    margin: 0%;
    padding: 0%;
}

.name h1 {
    
    margin: 10px;
    padding: 10px;
    color: red;
    
}










